.about-us {
    padding: 60px 0px;
}

.container {
    width: 90%;
    margin: auto;
    margin: 0px 95px;
}

.clients .container {
    width: 90%;
    margin: auto;
    margin: 0px 95px;
}

.text-center h2 {
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.h2-header::after {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    background-color: rgb(57, 134, 57);
    width: 50px;
    height: 4px;
    bottom: 0;
    left: 0;
    right: 0;


}

.about-info {
    padding: 20px 20px 20px 0px;
}

.about-info-2 {
    padding: 20px;
    padding-left: 20px;
}

.img-info {
    border-radius: 12px;
}

.about-info-2 ul {
    list-style: none;
    margin-bottom: 1rem;
}

.about-info-2 li {
    margin-bottom: .6rem;
}

.about-info-2 svg {
    color: green;
    /* background-color: green; */
}

.animated-btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    line-height: 80px;
    display: inline-block;
    text-align: center;
    background: #008374;
    position: relative;
}

.animated-btn::before,
.animated-btn::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
    background: rgba(0, 131, 116, 0.7);
    animation: ripple-1 2s infinite ease-in-out;
    z-index: -1;
}

.animated-btn::after {
    background: rgba(0, 131, 116, 0.6);
    animation: ripple-2 2s infinite ease-in-out;
    animation-delay: 0.5s;
}

.img-info-2 .header {
    position: absolute;
    left: calc(50% - 47px);
    top: calc(50% - 47px);
}

@keyframes ripple-1 {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

@keyframes ripple-2 {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.7);
        opacity: 0;
    }
}

@media screen and (max-width:768px) {
    .container {
        width: 85%;
    }

}

.clients {
    padding: 40px 0px;
}

.clien-slider img {
    transition: .3s;
}

.clien-slider img:hover {
    transform: scale(1.15, 1.15);
}

.clien-slider {
    padding: 10px 0px;
}

.stats-counter {
    padding: 40px 0px;
}

.stat-one {
    gap: 1rem;
    align-items: center;

}

.stat-two {
    gap: 1rem;
    align-items: center;
}

.stat-three {
    gap: 1rem;
    align-items: center;

}

.stats-counter h1 {
    color: #008374;
}

.call-to-action {
    padding: 60px 0px;
}

.call-info {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/photo_5814304040316681989_y.jpg) center center;
    background-size: cover;
    padding: 100px 60px;
    border-radius: 15px;
    overflow: hidden;
}

.call-to-action {
    .animated-btn {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        line-height: 80px;
        display: inline-block;
        text-align: center;
        background: #008374;
        position: relative;
        z-index: 2;
    }

    .animated-btn::before,
    .animated-btn::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        background: rgba(0, 131, 116, 0.7);
        animation: ripple-1 2s infinite ease-in-out;
        z-index: 0;

    }

    .animated-btn::after {
        background: rgba(0, 131, 116, 0.6);
        animation: ripple-2 2s infinite ease-in-out;
        animation-delay: 0.5s;
    }

    @keyframes ripple-1 {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        100% {
            transform: scale(1.5);
            opacity: 0;
        }
    }

    @keyframes ripple-2 {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        100% {
            transform: scale(1.7);
            opacity: 0;
        }
    }
}
.pricing-item{
    .animated-btn {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        line-height: 80px;
        display: inline-block;
        text-align: center;
        background: #008374;
        position: relative;
        z-index: 2;
    }

    .animated-btn::before,
    .animated-btn::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        background: rgba(0, 131, 116, 0.7);
        animation: ripple-1 2s infinite ease-in-out;
        z-index: 0;

    }

    .animated-btn::after {
        background: rgba(0, 131, 116, 0.6);
        animation: ripple-2 2s infinite ease-in-out;
        animation-delay: 0.5s;
    }

    @keyframes ripple-1 {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        100% {
            transform: scale(1.5);
            opacity: 0;
        }
    }

    @keyframes ripple-2 {
        0% {
            transform: scale(1);
            opacity: 1;
        }

        100% {
            transform: scale(1.7);
            opacity: 0;
        }
    }
}
.animated-btn a::before {
    z-index: 2;
}

.call-to-action p {
    color: white;
}

.call-to-action h3 {
    color: white;
}

.cta-btn {

    color: white;
    text-decoration: none;
    padding: 12px 48px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
}

.cta-btn:hover {
    background-color: #008374;
    border: transparent;
    color: #fff;
}

.call-info {
    text-align: center;
}

.pricing {
    background-color: #f6f6f6;
    padding: 60px 0px;
    text-align: center;
}

.pricing h2 {
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.pricing h2::after {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    background-color: #008374;
    width: 50px;
    height: 4px;
    bottom: 0;
    left: 0;
    right: 0;

}

.pricing-item {
    background-color: #fff;
    padding: 60px 40px;
    box-shadow: 0 3px 20px -2px rgba(108, 117, 125, 0.15);
    height: 100%;
    position: relative;
    border-radius: 15px;
}

.plane {
    border: #008374 3px solid;
    z-index: 3;
}

.pricing ul {
    padding: 20px 0;
    list-style: none;
    color: #6c757d;
    text-align: left;
    line-height: 20px;
}

.h3_team h3 {
    position: relative;
}

.h3_team::after {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    background-color: rgb(57, 134, 57);
    width: 50px;
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;


}

.h3_team h3::after {
    content: "";
    position: absolute;
    display: block;
    margin: auto;
    background-color: rgb(57, 134, 57);
    width: 50px;
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;


}

h5:hover {
    color: rgb(71, 114, 71);
}

/* .contant img:hover{
    width: 105%;
} */
.card img {
    transition: .3s ease;
}

.card img:hover {
    transform: scale(1.15);
}

.icons a i:hover {
    color: rgb(71, 114, 71);
}

@media screen and (min-width:992px) {
    .plane {
        transform: scale(1.15);
    }
}

/* services--section --start*/

.container .head-services h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 5rem;
    height: 3px;
    background: #008374;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

/* services--icons */
.items .card .card-body .fas::after {
    position: absolute;
    content: "";
    height: 2.5rem;
    width: 2.5rem;
    background: gray;
    border-radius: 50%;
    z-index: 1;
    top: 2rem;
    left: 3rem;
    opacity: .3;
    transition: 0.3s;
}

.card .card-body .fas:hover::after {
    opacity: 1;
}

.items .card .card-body h5::after {
    content: "";
    position: absolute;
    display: block;
    width: 8rem;
    height: 3px;
    background: #008374;
    top: 1.7rem;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .2;
}

.card .card-body h5:hover::after {
    opacity: 1;
}

/* services---end */

/* testimonails-section-start */

.testimonaials .head-testimonails h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 5rem;
    height: 3px;
    background: #008374;
    top: 3.5rem;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.testimonaials .container {
    width: 80%;
    margin: auto;
}

.container .test-items .card {
    width: 23rem;

}

.card .potifio .potifilio-left img {
    border-radius: 50%;
}


/* testimonaials-section-end */


@media screen and (max-width:991px) and (min-width:500px) {
    .our-services .container .items {
        flex-direction: column;
        align-items: center;
    }

}

@media screen and (max-width:1070px) {
    .testimonaials .container {
        width: 100%;
    }

    .container .test-items .card {
        width: 100%;
    }

}

.recent{
    position: relative;
    margin-top: 60px;
}
.blog1{
    background-color: #f6f6f6;;
    padding-bottom: 20px;
    padding-top: 10px;
}
.recent::after{
    content: "";
    width: 50px;
    height: 2px;
    background-color: rgb(21, 121, 87);
    position: absolute;
    top: 3rem;
    left: 48%;
}
.recent_img{
    background-color:white;
    width: 450px;
    height: 420px;
    overflow: hidden;
    border-radius: 5px;
    margin: 10px;
    padding: 0;
}
.row{
    margin: auto;
    width: 95%;
}
.recent_img img{
    width: 455px;
    height: 250px;
}
.Politics{
    margin-left: 20px;
    margin-top: 10px;
    color: gray;
}
.dolorum{
    font-size: 15px;
    margin-left: 20px;
}
.n_igg img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;

}
.icon2 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10px;
}
.n_igg h6{
    margin-left: 15px;
    margin-top: 15px;
}
.jan{
    margin-left: 15px;
    font-size: 13px;
}
.contact{
    margin-top: 60px;
}
.location{
    background-color:  #008374;
    height: 28rem;
    width: 19rem;
    border-radius: 5px;
    padding: 20px;
}
.text_location{
    margin-left: 10px;
    color: white;
    margin-top: 12px;

}
.text_location p{
    font-size: 13px;
}
.icon{
    background-color: #149687 ;
    width: 100%;
    height: 6.5rem;
    border-radius: 5px;
    margin: 20px;
    margin-left: -2px; 
}
.icon2{
    background-color: #149687 ;
    width: 100%;
    height: 5rem;
    border-radius: 5px;
    margin: 10px;
    margin-left: -2px; 
}
.icon2 i{
    background-color:  rgb(47, 153, 118)  ;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 20px;
    padding: 14px;
    margin-left: 10px;
    margin-top: 15px;
    color: white; 
    cursor: pointer;  
}
.icon i{
    background-color:  rgb(47, 153, 118)  ;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 20px;
    padding: 14px;
    margin-left: 10px;
    margin-top: 15px;
    color: white; 
    cursor: pointer;  
}
.icon i:hover{
    background-color: white;
    color: rgb(47, 153, 118) ;
    transition: 0.7s ease;
}
.icon2 i:hover{
    background-color: white;
    color: rgb(47, 153, 118) ;
    transition: 0.7s ease;

}
input{
    width: 100%;
    border: #dee2e6 solid 1px;
    outline: #dee2e6;    
}

textarea{
    width: 100%;
    border: #dee2e6 solid 1px;
    outline: #dee2e6;  
}
.btn_1{
    text-align: center;
    margin-top: 30px;
}
.btn_1 button{
    padding: 14px 45px;
    border: none;
    background-color: #008374;
    border-radius: 50px;
    color: white;
   transition: .2s;
}
.btn_1 button:hover{
    background-color: #149687;
}
footer{
    background-color: #008374;
    padding: 40px;
}
.o{
    margin-top: 30px;
}
footer i{
    color: white;
}
.fol_i{
    display: flex;
}
.footer_1{
    color: white;
}
.footer_1 .i_1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 1px white;
    margin-right: 10px;
    transition: 0.7s ease;
   
}
.footer_1 .i_1:hover{
    transform: scale(1.1);
    border: rgb(32, 31, 31);
    color:rgb(32, 31, 31) ;
}
.useful{
    text-decoration: none;
}
.ul_footer{
    list-style: none;
}
.ul_footer a{
    text-decoration: none;
    color: white;
    font-size: 13px;   
}
.cnot_h4{
    color: white;
}
.copyright h5{
    color: white;
    font-size: 14px;   
}
.copyright p{
    color: white;
    font-size: 13px;  

}

@media screen and (max-width:768px) {

    .recent_img{
        width: 100%;
        margin-top: 30px;
        padding: 0;
    }
    .recent_img .im{
        width: 100%;
    }
}
@media screen and (max-width:992px) {
    .location{
        width: 100%;
    }
    .recent_img{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        padding: 0;
    }
    .recent_img .im{
        width: 100%;
    }
}
*{
    margin: 0; padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    text-transform: capitalize;
}
body{
    background-color: rgb(204, 204, 204);
}
header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background-color: #008374;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
header .logo{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bolder;
}
header a{
    text-decoration: none;
}
 span{
    color: orangered;
    border-radius: 50%;
}
.nav-item a{
    color: rgb(216, 214, 214);
    
}

.nav-item a:hover{
    color: white;
    transition: 1s;
    border-bottom: 3px solid chocolate;
}

.home{
    padding: 200px 150px;
    background-color: #008374;
    position: relative;
}
.home{
    display: flex;
    padding: 30px;
    margin-top: 40px;
}
.home .content{
    z-index: 888;
    color: #1a1414;
    width: 70%;
    margin-top: 50px;
}
.home h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bolder;
}
.home p{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.home  i{
    color: #797979;
    font-size: 30px;
    width: 20px;
    margin-left: 20px;
    margin-top: 30px;
}
.home  i:hover{
    color: white;
}
.home  a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 30px;
}
.box5{
    display: flex;
    margin: auto;
    width: 75%;
    gap: 15px;
}
.cont5:hover{
    background-color: #008374;
    transition: 1s;
}
.cont5{
    width: 300px;
    height: 260px;
    margin-top: -100px;
    border-radius: 10px;
    text-align: center;
    background-color: #008374;
    box-shadow: 0 .5rem  1rem rgba(0, 0, 0, .1);
    position: relative;

}
.cont5 i{
    color: #797979;
    font-size: 60px;
    width: 20px;
    margin-left: -45px;
    margin-top: 50px;
}
.cont5 h3{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    margin-top: 20px;
}
.abuot{
    display: flex;
    justify-content: space-between;
    margin-right:100px;
    margin-top: 100px;
}
.abuot span{
    color: #008374;
}


.abuot-text{
    margin-left: 200px;
    margin-top: 150px;
}
.ff{
    width: 66%;
    margin-top: 100px;
    margin-right: 50px;
    
}
.btn-group{
    box-shadow: 0 .5rem  1rem rgba(0, 0, 0, .1);
    margin: 50px;
    width: 100%;
    align-items: center;
    color: rgb(88, 88, 88);
    
}
.btn-group:hover{
    border: none;
    outline: none;
    color:  rgb(21, 121, 87);
}

